.profileHeader{
    display: flex;
    gap: 24px;
    align-items: center;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    margin-bottom: 24px;
}

.profilePicture{
    font-weight: 400;
    font-size: calc(40 / 14 * 1rem);
    line-height: 130%;
    padding: 1rem 0;
    background: #D5E4F7;
    border-radius: 50%;
    flex: 0 0 80px;
    text-align: center;
}

.profileName{
    margin-bottom: calc(8 / 14 * 1rem);
    font-weight: 600;
    font-size: calc(20 / 14 * 1rem);
    line-height: 130%;
}